@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager


<h5>Select a table type to edit</h5>
<select id="condition" @onclick="@FilterOption" @bind="@selected_table_type" >
    <option value="category-dimension">Dimension table for categories</option>
    <option value="product-dimension">Dimension table for products</option>
    <option value="product-price">Product price table</option>
</select>
<br>

@if (if_show_cat_dim_filter)
{
    <h5>Select a dimension table to edit</h5>
    <select id="condition" @onclick="@FilterOption" @bind="@selected_cat_dim" >
        <option value="product-type">Product type</option>
        <option value="product-genre">Product genre</option>
        <option value="rating-de">German rating</option>
        <option value="rating-fr">French rating</option>
    </select>
    <br>
}

@if (if_show_product_filters)
{
    <h5>Select types of products</h5>
    <p>
    @foreach (var option in product_type_option_dict)
    {
        <label style="margin-right: 10px;">
            <input type="checkbox" @bind="product_type_option_dict[option.Key]" /> @option.Key
        </label>
    }
    </p>
}

@if (if_show_price_table_filters)
{   
    <div style="display: flex; align-items: center;">
    <div style="margin-right: 20px;">
        <h5>Select a market</h5>
        <select id="condition" @onclick="@FilterOption" @bind="@selected_country">
            <option value="DE">Germany</option>
            <option value="FR">France</option>
        </select>
    </div>
    
    <div>
        <h5>Select a product type</h5>
        <select id="condition" @onclick="@FilterOption" @bind="@selected_product_type">
            <option value="Movie">Movie</option>
            <option value="TV">TV Show</option>
            <option value="Anime">Anime</option>
            <option value="Comic">Comic</option>
        </select>
    </div>
</div>
}

<br>
<NavLink href="movies">
    <button @onclick="NavigateToTableEditPage" disabled="@(if_ready_to_edit_table == false)">Start Editing Table</button>
</NavLink>

@code {
    private bool if_show_cat_dim_filter = false;
    private bool if_show_product_filters = false;
    private bool if_show_price_table_filters = false;
    private bool if_ready_to_edit_table = false;

    public string selected_table_type { get; set; } = "";
    public string selected_country { get; set; } = "";
    public string selected_product_type { get; set; } = "";
    public string selected_cat_dim { get; set; } = "";


    // A dictionary for storing product type selections
    Dictionary<string, bool> product_type_option_dict = new Dictionary<string, bool>
    {
        { "Movie", true },
        { "TV", false },
        { "Anime", false },
        { "Comic", false },
    };

    private void FilterOption()
    {   
        if (selected_table_type=="category-dimension")
        {   
            if_show_cat_dim_filter = true;
            if_show_product_filters = false;
            if_show_price_table_filters = false;
            if_ready_to_edit_table = true;
        }
        else if(selected_table_type=="product-dimension")
        {   
            if_show_cat_dim_filter = false;
            if_show_product_filters = true;
            if_show_price_table_filters = false;
            if_ready_to_edit_table = true;
        }
        else if(selected_table_type=="product-price")
        {   
            if_show_cat_dim_filter = false;
            if_show_product_filters = false;
            if_show_price_table_filters = true;
            if_ready_to_edit_table = true;
        }
    }


    private async Task NavigateToTableEditPage()
    {      
        if(selected_table_type=="category-dimension")
        {
            NavigationManager.NavigateTo($"/category-dim/{selected_cat_dim}");
        }
        else if(selected_table_type=="product-dimension")
        {   
            string selected_product_types = string.Join("-", product_type_option_dict.Where(kvp => kvp.Value).Select(kvp => kvp.Key));
            NavigationManager.NavigateTo($"/product-dim/{selected_product_types}");
        }
        else if(selected_table_type=="product-price")
        {   
            NavigationManager.NavigateTo($"/product-price/{selected_country}/{selected_product_type}");
        }
        

    }

}