@page "/"
@rendermode InteractiveServer
@using System

<h2>Select a table type to edit</h2>
<select id="condition" @onclick="@FilterOption" @bind="@selected_cat_dim" >
    <option value="category_dimension">Dimension table for categories</option>
    <option value="product_dimension">Dimension table for products</option>
    <option value="product_price">Product price</option>
</select>
<br>

@if (if_show_category_filter)
{
    <h5>Select a dimension table to edit</h5>
    <select id="condition" @onclick="@FilterOption" @bind="@SelectedMarket" >
        <option value="product_type">Product type</option>
        <option value="product_genre">Product genre</option>
        <option value="rating_de">German rating</option>
        <option value="rating_fr">French rating</option>
    </select>
    <br>
}
@if (if_show_genre_filter)
{
    <h2>Select genres</h2>
}

@if (if_show_column_filter)
{   
    <h5>Select a market</h5>
    <select id="condition" @onclick="@FilterOption" @bind="@SelectedMarket" >
        <option value="DE">Germany</option>
        <option value="FR">France</option>
    </select>
    <br>
    <h2>Select columns to edit</h2>
}

<br>
<NavLink href="movies">
    <button type="submit" disabled="@(if_ready_to_edit_table == false)">Start Editing Table</button>
</NavLink>

@code {

    private bool if_show_category_filter = false;
    private bool if_show_genre_filter = false;
    private bool if_show_column_filter = false;
    private bool if_ready_to_edit_table = false;

    public string SelectedOpt { get; set; } = "";
    public string SelectedMarket { get; set; } = "";
    public string selected_cat_dim { get; set; } = "";

    public string TableEditLink = "";

    private void FilterOption()
    {
        if (SelectedOpt=="category_dimension")
        {   
            if_show_category_filter = true;
            if_show_genre_filter = false;
            if_show_column_filter = false;
            if_ready_to_edit_table = true;
            TableEditLink = "movie_genre_dim";
        }
        else if(SelectedOpt=="product_dimension")
        {   
            if_show_category_filter = false;
            if_show_genre_filter = true;
            if_show_column_filter = false;
            if_ready_to_edit_table = true;
            TableEditLink = "movie_title_dim";
        }
        else if(SelectedOpt=="product_price")
        {   
            if_show_category_filter = false;
            if_show_genre_filter = false;
            if_show_column_filter = true;
            if_ready_to_edit_table = true;
            TableEditLink = "movies";
        }
    }

}