@page "/movie-price"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MovieTableEdit.Models
@using MovieTableEdit.Data
@inject IDbContextFactory<MovieTableEdit.Data.MovieTableEditContext> DbFactory
@implements IAsyncDisposable


<PageTitle>Movie Price</PageTitle>

<p>
    <a href="movies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.MockMovieFact">
    <PropertyColumn Property="movie => GetDictionaryValue(movie.MovieId)" />

    @* <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> |
        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
    </TemplateColumn> *@

    <TemplateColumn Title="Date">
        <div>
            <label>
                <input type="date" @bind="@context.Date" />
            </label>
        </div>
    </TemplateColumn>

    <TemplateColumn Title="Price">
        <div>
            <label>
                <input type="decimal" @bind="@context.Price" />
            </label>
        </div>
    </TemplateColumn>
</QuickGrid>

@code {
    private MovieTableEditContext context = default!;

    private Dictionary<int, string> dimensionDictionary;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        dimensionDictionary = context.MockMovieDim.Select(p => new {p.MovieId, p.Title}).AsEnumerable().ToDictionary(kvp => kvp.MovieId, kvp => kvp.Title);
    }

    // Helper method to safely get the value from the dictionary
    private string GetDictionaryValue(int key)
    {
        if (dimensionDictionary != null && dimensionDictionary.ContainsKey(key))
        {
            return dimensionDictionary[key];
        }
        return "Key not found";
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}